% rebase('base.html', trenutna_stran='matrika')    
<table>
  <tr>
    <th><input class="form-control" type="number" id="11" name="11" value=0 min=0 max=9 style="background-color:royalblue;"></th>
    <th><input class="form-control" type="number" id="12" name="12" value=0 min=0 max=9 style="background-color:royalblue;"></th>
    <th><input class="form-control" type="number" id="13" name="13" value=0 min=0 max=9 style="background-color:royalblue;"></th>
    <th><input class="form-control" type="number" id="14" name="14" value=0 min=0 max=9 style="background-color:blue;"></th>
    <th><input class="form-control" type="number" id="15" name="15" value=0 min=0 max=9 style="background-color:blue;"></th>
    <th><input class="form-control" type="number" id="16" name="16" value=0 min=0 max=9 style="background-color:blue;"></th>
    <th><input class="form-control" type="number" id="17" name="17" value=0 min=0 max=9 style="background-color:royalblue;"></th>
    <th><input class="form-control" type="number" id="18" name="18" value=0 min=0 max=9 style="background-color:royalblue;"></th>
    <th><input class="form-control" type="number" id="19" name="19" value=0 min=0 max=9 style="background-color:royalblue;"></th>
  </tr>
  <tr>
    <td><input class="input" type="number" id="21" name="21" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="22" name="22" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
    <td><input class="input" type="number" id="23" name="23" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
    <td><input class="input" type="number" id="24" name="24" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="25" name="25" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="26" name="26" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="27" name="27" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="28" name="28" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="29" name="29" value=0 min=0 max=9 style="background-color:royalblue;"></td>
  </tr>
  <tr>
    <td><input class="input" type="number" id="31" name="31" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="32" name="32" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
    <td><input class="input" type="number" id="33" name="33" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
    <td><input class="input" type="number" id="34" name="34" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="35" name="35" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="36" name="36" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="37" name="37" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="38" name="38" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="39" name="39" value=0 min=0 max=9 style="background-color:royalblue;"></td>
  </tr>
  <tr>
    <td><input class="input" type="number" id="41" name="41" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="42" name="42" value=0 min=0 max=9 style="background-color:blue;"></td>    
    <td><input class="input" type="number" id="43" name="43" value=0 min=0 max=9 style="background-color:blue;"></td>    
    <td><input class="input" type="number" id="44" name="44" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="45" name="45" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="46" name="46" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="47" name="47" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="48" name="48" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="49" name="49" value=0 min=0 max=9 style="background-color:blue;"></td>
  </tr>
  <tr>
    <td><input class="input" type="number" id="51" name="51" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="52" name="52" value=0 min=0 max=9 style="background-color:blue;"></td>    
    <td><input class="input" type="number" id="53" name="53" value=0 min=0 max=9 style="background-color:blue;"></td>    
    <td><input class="input" type="number" id="54" name="54" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="55" name="55" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="56" name="56" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="57" name="57" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="58" name="58" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="59" name="59" value=0 min=0 max=9 style="background-color:blue;"></td>
  </tr>
  <tr>
    <td><input class="input" type="number" id="61" name="61" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="62" name="62" value=0 min=0 max=9 style="background-color:blue;"></td>    
    <td><input class="input" type="number" id="63" name="63" value=0 min=0 max=9 style="background-color:blue;"></td>    
    <td><input class="input" type="number" id="64" name="64" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="65" name="65" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="66" name="66" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="67" name="67" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="68" name="68" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="69" name="69" value=0 min=0 max=9 style="background-color:blue;"></td>
  </tr>
  <tr>
    <td><input class="input" type="number" id="71" name="71" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="72" name="72" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
    <td><input class="input" type="number" id="73" name="73" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
    <td><input class="input" type="number" id="74" name="74" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="75" name="75" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="76" name="76" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="77" name="77" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="78" name="78" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="79" name="79" value=0 min=0 max=9 style="background-color:royalblue;"></td>
  </tr>
  <tr>
    <td><input class="input" type="number" id="81" name="81" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="82" name="82" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
    <td><input class="input" type="number" id="83" name="83" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
    <td><input class="input" type="number" id="84" name="84" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="85" name="85" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="86" name="86" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="87" name="87" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="88" name="88" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="89" name="89" value=0 min=0 max=9 style="background-color:royalblue;"></td>
  </tr>
  <tr>
    <td><input class="input" type="number" id="91" name="91" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="92" name="92" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
    <td><input class="input" type="number" id="93" name="93" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
    <td><input class="input" type="number" id="94" name="94" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="95" name="95" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="96" name="96" value=0 min=0 max=9 style="background-color:blue;"></td>
    <td><input class="input" type="number" id="97" name="97" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="98" name="98" value=0 min=0 max=9 style="background-color:royalblue;"></td>
    <td><input class="input" type="number" id="99" name="99" value=0 min=0 max=9 style="background-color:royalblue;"></td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <form action="/resen_sudoku/">
        <input type="submit" value="Reši sudoku">
      </form>
    </td>
  </tr>
  <tr>
    <td>
      <form action="/matrika/">
        <input type="submit" value="Izbriši sudoku">
      </form>
    </td>
  </tr>
</table>
