% rebase('base.html')
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
        <form action="/matrika/", method="GET">
          <input type="submit" value="Izbriši sudoku">
        </form>
      <p>
        <form method="GET" action="/moji_sudokuji/">
          <input class="button" type = "submit" value = "Moji sudokuji" />
        </form>
      </p>
      <p>
        <form method="GET" action="/navodila/">
          <input class="button" type = "submit" value = "Navodila" />
        </form>
      </p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>SUDOKU SOLVER</h1>
      <hr>
    </div>
    <table>
      <form method="POST" action="/resen_sudoku/">
        <tr>
            <th><input class="input" type="number" id="m11" name="m11" value=0 min=0 max=9 style="background-color:royalblue;"></th>
            <th><input class="input" type="number" id="m12" name="m12" value=0 min=0 max=9 style="background-color:royalblue;"></th>
            <th><input class="input" type="number" id="m13" name="m13" value=0 min=0 max=9 style="background-color:royalblue;"></th>
            <th><input class="input" type="number" id="m14" name="m14" value=0 min=0 max=9 style="background-color:blue;"></th>
            <th><input class="input" type="number" id="m15" name="m15" value=0 min=0 max=9 style="background-color:blue;"></th>
            <th><input class="input" type="number" id="m16" name="m16" value=0 min=0 max=9 style="background-color:blue;"></th>
            <th><input class="input" type="number" id="m17" name="m17" value=0 min=0 max=9 style="background-color:royalblue;"></th>
            <th><input class="input" type="number" id="m18" name="m18" value=0 min=0 max=9 style="background-color:royalblue;"></th>
            <th><input class="input" type="number" id="m19" name="m19" value=0 min=0 max=9 style="background-color:royalblue;"></th>
        </tr>
        <tr>
          <td><input class="input" type="number" id="m21" name="m21" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m22" name="m22" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
          <td><input class="input" type="number" id="m23" name="m23" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
          <td><input class="input" type="number" id="m24" name="m24" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m25" name="m25" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m26" name="m26" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m27" name="m27" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m28" name="m28" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m29" name="m29" value=0 min=0 max=9 style="background-color:royalblue;"></td>
        </tr>
        <tr>
          <td><input class="input" type="number" id="m31" name="m31" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m32" name="m32" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
          <td><input class="input" type="number" id="m33" name="m33" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
          <td><input class="input" type="number" id="m34" name="m34" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m35" name="m35" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m36" name="m36" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m37" name="m37" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m38" name="m38" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m39" name="m39" value=0 min=0 max=9 style="background-color:royalblue;"></td>
        </tr>
        <tr>
          <td><input class="input" type="number" id="m41" name="m41" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m42" name="m42" value=0 min=0 max=9 style="background-color:blue;"></td>    
          <td><input class="input" type="number" id="m43" name="m43" value=0 min=0 max=9 style="background-color:blue;"></td>    
          <td><input class="input" type="number" id="m44" name="m44" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m45" name="m45" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m46" name="m46" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m47" name="m47" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m48" name="m48" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m49" name="m49" value=0 min=0 max=9 style="background-color:blue;"></td>
        </tr>
        <tr>
          <td><input class="input" type="number" id="m51" name="m51" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m52" name="m52" value=0 min=0 max=9 style="background-color:blue;"></td>    
          <td><input class="input" type="number" id="m53" name="m53" value=0 min=0 max=9 style="background-color:blue;"></td>    
          <td><input class="input" type="number" id="m54" name="m54" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m55" name="m55" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m56" name="m56" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m57" name="m57" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m58" name="m58" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m59" name="m59" value=0 min=0 max=9 style="background-color:blue;"></td>
        </tr>
        <tr>
          <td><input class="input" type="number" id="m61" name="m61" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m62" name="m62" value=0 min=0 max=9 style="background-color:blue;"></td>    
          <td><input class="input" type="number" id="m63" name="m63" value=0 min=0 max=9 style="background-color:blue;"></td>    
          <td><input class="input" type="number" id="m64" name="m64" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m65" name="m65" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m66" name="m66" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m67" name="m67" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m68" name="m68" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m69" name="m69" value=0 min=0 max=9 style="background-color:blue;"></td>
        </tr>
        <tr>
          <td><input class="input" type="number" id="m71" name="m71" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m72" name="m72" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
          <td><input class="input" type="number" id="m73" name="m73" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
          <td><input class="input" type="number" id="m74" name="m74" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m75" name="m75" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m76" name="m76" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m77" name="m77" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m78" name="m78" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m79" name="m79" value=0 min=0 max=9 style="background-color:royalblue;"></td>
        </tr>
        <tr>
          <td><input class="input" type="number" id="m81" name="m81" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m82" name="m82" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
          <td><input class="input" type="number" id="m83" name="m83" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
          <td><input class="input" type="number" id="m84" name="m84" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m85" name="m85" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m86" name="m86" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m87" name="m87" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m88" name="m88" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m89" name="m89" value=0 min=0 max=9 style="background-color:royalblue;"></td>
        </tr>
        <tr>
          <td><input class="input" type="number" id="m91" name="m91" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m92" name="m92" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
          <td><input class="input" type="number" id="m93" name="m93" value=0 min=0 max=9 style="background-color:royalblue;"></td>    
          <td><input class="input" type="number" id="m94" name="m94" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m95" name="m95" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m96" name="m96" value=0 min=0 max=9 style="background-color:blue;"></td>
          <td><input class="input" type="number" id="m97" name="m97" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m98" name="m98" value=0 min=0 max=9 style="background-color:royalblue;"></td>
          <td><input class="input" type="number" id="m99" name="m99" value=0 min=0 max=9 style="background-color:royalblue;"></td>
        </tr>
    </table>
    
          <input type="submit" value="Reši sudoku">
        </form>
  </div>
</div>
