%rebase('base.html')
<div class="col-sm-8 text-left">
<p >Sudoku reševalec je program, ki reši še tako težek sudoku. Primeren je za klasične sudokuje (velikosti 9x9).</p>
<p>Kako deluje?</p>
<p>V tabeli, ki se prikaže na začetni strani, potem ko se prijavite, so vrednosti na začetku nastavljene na nič. 
    V polja v tabeli vnesite števila od 1 do 9. Če bo v polju ostalo število 0, bo to pomenilo, da je to polje prazno polje v sudokuju.
    Pri vnosu števil pazite, da se števila v isti vrstici, stolpcu ali manjšem kvadratu (3x3) ne ponavljajo, saj v tem primeru sudoku nima rešitve.
</p>
<p>Kaj če program dolgo nalaga soduku?</p>
<p>V tem primeru je sudoku verjetno nerešljiv. Še enkrat preverite, če ste vsa števila vnesli ustrezno.</p>
<p>Pomen gumbov:</p>
<li>Izbriši sudoku - izbriše vse vrednosti, ki ste jih do sedaj vnesli v sudoku</li>
<li>Moji sudokuji - prikaže vse vaše rešene sudokuje</li>
<li>Reši - reši trenutni sudoku</li>
<li>Odjava - odjavi vas</li>
</div>