% rebase('base.html')
<table>
    <tr>
        <th>{{celamatrika[0]}}</th>
        <th>{{celamatrika[1]}}</th>
        <th>{{celamatrika[2]}}</th>
        <th>{{celamatrika[3]}}</th>
        <th>{{celamatrika[4]}}</th>
        <th>{{celamatrika[5]}}</th>
        <th>{{celamatrika[6]}}</th>
        <th>{{celamatrika[7]}}</th>
        <th>{{celamatrika[8]}}</th>
    </tr>
    <tr>
        <th>{{celamatrika[9]}}</th>
        <th>{{celamatrika[10]}}</th>
        <th>{{celamatrika[11]}}</th>
        <th>{{celamatrika[12]}}</th>
        <th>{{celamatrika[13]}}</th>
        <th>{{celamatrika[14]}}</th>
        <th>{{celamatrika[15]}}</th>
        <th>{{celamatrika[16]}}</th>
        <th>{{celamatrika[17]}}</th>
    </tr>
    <tr>
        <th>{{celamatrika[18]}}</th>
        <th>{{celamatrika[19]}}</th>
        <th>{{celamatrika[20]}}</th>
        <th>{{celamatrika[21]}}</th>
        <th>{{celamatrika[22]}}</th>
        <th>{{celamatrika[23]}}</th>
        <th>{{celamatrika[24]}}</th>
        <th>{{celamatrika[25]}}</th>
        <th>{{celamatrika[26]}}</th>
    </tr>
    <tr>
        <th>{{celamatrika[27]}}</th>
        <th>{{celamatrika[28]}}</th>
        <th>{{celamatrika[29]}}</th>
        <th>{{celamatrika[30]}}</th>
        <th>{{celamatrika[31]}}</th>
        <th>{{celamatrika[32]}}</th>
        <th>{{celamatrika[33]}}</th>
        <th>{{celamatrika[34]}}</th>
        <th>{{celamatrika[35]}}</th>
    </tr>
    <tr>
        <th>{{celamatrika[36]}}</th>
        <th>{{celamatrika[37]}}</th>
        <th>{{celamatrika[38]}}</th>
        <th>{{celamatrika[39]}}</th>
        <th>{{celamatrika[40]}}</th>
        <th>{{celamatrika[41]}}</th>
        <th>{{celamatrika[42]}}</th>
        <th>{{celamatrika[43]}}</th>
        <th>{{celamatrika[44]}}</th>
    </tr>
    <tr>
        <th>{{celamatrika[45]}}</th>
        <th>{{celamatrika[46]}}</th>
        <th>{{celamatrika[47]}}</th>
        <th>{{celamatrika[48]}}</th>
        <th>{{celamatrika[49]}}</th>
        <th>{{celamatrika[50]}}</th>
        <th>{{celamatrika[51]}}</th>
        <th>{{celamatrika[52]}}</th>
        <th>{{celamatrika[53]}}</th>
    </tr>
    <tr>
        <th>{{celamatrika[54]}}</th>
        <th>{{celamatrika[55]}}</th>
        <th>{{celamatrika[56]}}</th>
        <th>{{celamatrika[57]}}</th>
        <th>{{celamatrika[58]}}</th>
        <th>{{celamatrika[59]}}</th>
        <th>{{celamatrika[60]}}</th>
        <th>{{celamatrika[61]}}</th>
        <th>{{celamatrika[62]}}</th>
    </tr>
    <tr>
        <th>{{celamatrika[63]}}</th>
        <th>{{celamatrika[64]}}</th>
        <th>{{celamatrika[65]}}</th>
        <th>{{celamatrika[66]}}</th>
        <th>{{celamatrika[67]}}</th>
        <th>{{celamatrika[68]}}</th>
        <th>{{celamatrika[69]}}</th>
        <th>{{celamatrika[70]}}</th>
        <th>{{celamatrika[71]}}</th>
    </tr>
    <tr>
        <th>{{celamatrika[72]}}</th>
        <th>{{celamatrika[73]}}</th>
        <th>{{celamatrika[74]}}</th>
        <th>{{celamatrika[75]}}</th>
        <th>{{celamatrika[76]}}</th>
        <th>{{celamatrika[77]}}</th>
        <th>{{celamatrika[78]}}</th>
        <th>{{celamatrika[79]}}</th>
        <th>{{celamatrika[80]}}</th>
    </tr>
</table>
